In [7]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [8]:
data=pd.read_csv("../datasets/GroceryStoreDataSet.csv", header=None)
data

                                 0
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [9]:
transactions=[]
items=data[0].values

for i in range(0, len(items)):
    transactions.append(items[i].split(","))

te=TransactionEncoder()
te_data= te.fit_transform(transactions)

dataTE=pd.DataFrame(data=te_data, columns=te.columns_, dtype=int)
dataTE

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [10]:
support = apriori(dataTE, min_support = 0.15, use_colnames = True) #verbose = 1
support.sort_values(by="support",  ascending=False, inplace=True)
support

    support               itemsets
2      0.65                (BREAD)
4      0.40               (COFFEE)
0      0.35              (BISCUIT)
9      0.35                  (TEA)
5      0.30           (CORNFLAKES)
8      0.30                (SUGER)
6      0.25                (MAGGI)
7      0.25                 (MILK)
15     0.20          (MILK, BREAD)
20     0.20        (SUGER, COFFEE)
19     0.20   (COFFEE, CORNFLAKES)
17     0.20           (TEA, BREAD)
16     0.20         (SUGER, BREAD)
21     0.20           (TEA, MAGGI)
1      0.20            (BOURNVITA)
10     0.20       (BREAD, BISCUIT)
14     0.15         (BREAD, MAGGI)
13     0.15        (COFFEE, BREAD)
12     0.15     (BOURNVITA, BREAD)
18     0.15         (COFFEE, COCK)
3      0.15                 (COCK)
11     0.15  (BISCUIT, CORNFLAKES)

In [11]:
df_ar = association_rules(support, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(MILK),(BREAD),0.25,0.65,0.20,0.800000,1.230769,0.0375,1.750
1,(SUGER),(COFFEE),0.30,0.40,0.20,0.666667,1.666667,0.0800,1.800
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.20,0.666667,1.666667,0.0800,1.800
3,(SUGER),(BREAD),0.30,0.65,0.20,0.666667,1.025641,0.0050,1.050
4,(MAGGI),(TEA),0.25,0.35,0.20,0.800000,2.285714,0.1125,3.250
5,(MAGGI),(BREAD),0.25,0.65,0.15,0.600000,0.923077,-0.0125,0.875
6,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400
7,(COCK),(COFFEE),0.15,0.40,0.15,1.000000,2.500000,0.0900,inf

In [15]:
df_ar2 = association_rules(support, metric="lift", min_threshold=2)
df_ar2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(TEA),(MAGGI),0.35,0.25,0.20,0.571429,2.285714,0.1125,1.75
1,(MAGGI),(TEA),0.25,0.35,0.20,0.800000,2.285714,0.1125,3.25
2,(COFFEE),(COCK),0.40,0.15,0.15,0.375000,2.500000,0.0900,1.36
3,(COCK),(COFFEE),0.15,0.40,0.15,1.000000,2.500000,0.0900,inf